<h2><%= @current_cat.name %></h2>
<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Age</td>
        <td><%= @current_cat.age %></td>
    </tr>
    <tr>
        <td>Birth Date</td>
        <td><%= @current_cat.birth_date %></td>
    </tr>
    <tr>
        <td>Color</td>
        <td><%= @current_cat.color %></td>
    </tr>
    <tr>
        <td>Sex</td>
        <td><%= @current_cat.sex %></td>
    </tr>
</table>