<h2><%= @current_cat.name %></h2>
<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Age</td>
        <td><%= @current_cat.age %></td>
    </tr>
    <tr>
        <td>Birth Date</td>
        <td><%= @current_cat.birth_date %></td>
    </tr>
    <tr>
        <td>Color</td>
        <td><%= @current_cat.color %></td>
    </tr>
    <tr>
        <td>Sex</td>
        <td><%= @current_cat.sex %></td>
    </tr>
</table>

<h3>Requests</h3>
<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <% @requests.each do |request| %>
        <tr>
            <td><%= request.start_date %></td>
            <td><%= request.end_date %></td>
            <% if request.pending? %>
                <td><%= button_to "Approve", approve_or_deny_cat_rental_request_url(request, option: :approve), method: :patch %></td>
                <td><%= button_to "Deny", approve_or_deny_cat_rental_request_url(request), method: :patch %></td>
                
            <% end %>
        </tr>
    <% end %>
</table>